package eu.organicity;

import org.apache.commons.codec.binary.Base64;

/**
 * The configuration for the Permission tool.
 * 
 * @author Dennis Boldt
 */
public class Config {

	// Basic Auth token of the `Permission Component`
	private static String user = "user";
	private static String password = "password";
	public static String basicAuth = new String(Base64.encodeBase64((user + ":" + password).getBytes()));
	
}
